body{
    background-image: url("dumbells.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

.container{
    background-color: aliceblue;
    max-width: 300px;
    margin: auto;
    border: 3px solid rgba(53, 53, 53, 0.664);
    border-radius: 10px;
}

h2{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

h1{
    margin-bottom:10px;
}

button{
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
    width: 240px;
}

#save-btn{
    border: rgb(31, 143, 46) 2px solid;
    background-color: rgb(70, 179, 84);
}

#save-btn:hover{
    background-color: rgb(31, 143, 46);
}

#increment-btn{
    border: rgb(172, 84, 25) 2px solid;
    background-color: rgb(220, 100, 20);
}

#increment-btn:hover{
    background-color: rgb(172, 84, 25);
}

